@charset "utf-8";
/* CSS Document */
/*html,body {	padding: 0;	margin: 0;overflow: auto;overflow-x: hidden;width:100%;height:100%;}*/
html {height: 100%;_overflow-x: hidden;	_overflow-y: auto;}

/*head*/
.indexHeader {height: 122px; background:#0591aa;}
.indexHeaderCls{ height:60px;}
.indexHeaderCls .indexContent{ display:none;}
.indexHeaderCls #div_tab{ top:5px;}
.headbg{ width:100%;background:url(../images/main/headbg.png)no-repeat right top;}
.indexContent{height: 54px;overflow:hidden; }
.indexContent h1{height: 54px; margin: 0px 0 0 17px; line-height:54px; font-size:28px; color:#fff;}
.indexContent h1 img{ height:27px; margin-right:8px; float:left; margin-top:14px;}

.head_nav {color: #fff; position: absolute; top: 4px; right:0;}
.head_nav li{ float:left; padding-right:17px;}
.head_nav li p{ line-height:28px; font-size:12px; color:#FFF; text-align:right;}
.head_nav li p .time{font-size:27px;font-family:"Arial";font-weight:bold}
.head_nav li p.user{font-size:14px;}
.head_nav li p.user font{color:#edb11a;}
.head_nav li.last{ padding-right:10px;}

.menu_right{ float:right;height:35px; /*width:118px;*/}
.menu_right em{height: 35px; width: 23px;  text-align: center; display: block; color: #fefefe; float: left;background: url(../images/main/icon_head.png) no-repeat; cursor:pointer; margin:0 3px}
.menu_right em.cut{ background-position:center 10px;}/*切换*/
.menu_right em.fit{background-position:center -38px;}/*设置*/
.menu_right em.quit{background-position:center -70px;}/*注销*/
.menu_right em.clsHead{ background-position:center -103px;}/*收起*/
.menu_right em.opHead{ background-position:center -133px;}/*展开*/


/*tab*/
.index_nav { width:100%; line-height: 35px;height:35px;overflow:hidden}
.index_nav .index_menu{width: 85px; height:27px; line-height:27px; font-size:16px; font-weight:bold; color:#13496c; margin-left:6px; float:left;background:#fff;cursor:pointer; margin-top:4px; margin-right:8px; border-radius:3px;}
.index_nav .index_menu em{float:left; background:url(../images/main/home.png) no-repeat; width:21px; height:19px; display:inline;margin:4px 7px 0 9px;}

.index_nav .sy_nav{background: url(../images/sy_bj.png) no-repeat; width:79px; height:33px; float:left; margin-top:2px;}
.index_nav .divBox {display: block; float: left; margin-left: 20px;}
.index_nav div.current_nav {padding-left: 20px;  background: url(../images/navs_a_L.png) no-repeat; position: relative;}
.index_nav div.current_nav a{display:block; float: left; font-weight: bold; height:29px; line-height:29px; padding-right: 30px; background:url(../images/navs_a_R.png) no-repeat right bottom;}
.index_nav div.current_nav b.xx{display: block; width: 8px; height: 8px; background: url(../images/XX.png) no-repeat; position: absolute; right: 15px; top: 10px; cursor: pointer;}
.index_nav div.current_nav b.xx:hover {width: 7px; height: 7px; border: 1px solid #dedede;}
/*tab scroll*/
.index_nav .tabbox { float:left; height:30px;background:None; overflow:hidden; margin-top:5px;}
#taskbar_center{float:left;padding-top:2px;}

#tabs_container{white-space:nowrap;height:33px;overflow:hidden;float:left;}
#div_tab {white-space: nowrap;height:33px; float:left; width: auto;z-index:99}
#div_tab li{position:relative;text-align:center;float:left;margin:1px 3px 0 3px; display:inline; padding:0 10px; height:32px; border-radius:3px 3px 0 0;font-size:16px; line-height:32px; border:1px solid #03798c; border-bottom:none; background:#09899e;}
#div_tab li a{color:#FFF;}
#div_tab li#shouye {width:60px; padding-right:10px;}
#div_tab li.crent{ background:#f5f5f5; border:1px solid #ececec;border-bottom:none; padding:0 25px 0 10px;}
#div_tab li.crent a{color:#333;}
#div_tab li.crent .win_close{ background:url(../images/main/colse.png) no-repeat; width:10px; height:10px; position:absolute; right:10px; top:12px; cursor:pointer;}

.btnLeft,.btnRight { width:20px; height:30px;display:none;z-index:999; float:left;  cursor:pointer;}
.btnLeft a{ display:block; width:20px;  height:20px; background:url(../images/btnScroll_r.png) no-repeat 0px 2px; margin-top:5px;}
.btnLeft a:Hover{background-position:0px -18px;}
.btnRight a{ display:block;width:20px; height:20px;background:url(../images/btnScroll_l.png) no-repeat 0px 2px;  margin-top:5px;}
.btnRight a:hover{ background-position:0px -18px;}
.s_tab{ height:32px;line-height:32px; background:#f5f5f5; position:relative; border-bottom:1px solid #cccccc;}
.s_tab .lastMenu{ position:absolute;top:0px;/*left:10px;*/}
.s_tab li{height:32px;line-height:32px;float:left; overflow:hidden;margin:0 3px;}
.s_tab li a{ display:inline-block;height:18px; line-height:18px; padding:0 15px;color:#000;margin-top:6px;overflow:hidden; font-size:16px;}
.s_tab li a:hover{text-decoration: none}
.s_tab li.current{border-bottom:1px solid red;}
.s_tab li.current a{color:#ff0000;}
.s_tab .mCurrent{ position:absolute;top:0px;left:10px; display:block;}


/*menu*/
.menu{ width:382px; position:absolute; top:99px; left:5px;z-index:9; display:none; border:1px solid #ccc; background:#f5f5f5;}
.menu .m_c{ position:relative;}
.menu .m_c .top_jt{ position:absolute; z-index:1001; background:url(../images/main/top_jt.png) no-repeat; width:15px; height:10px; top:-10px; left:30px;}
.menu a{ cursor:pointer}
.m_left{ width:171px;position:absolute;left:0px;}
.m_left li{ height:40px; line-height:40px;cursor:pointer; color:#000;}
.m_left li em{ display:inline-block; width:20px; height:21px; background:url(../images/main/menu.png) no-repeat; margin:0 10px; vertical-align:middle;}
.m_left li.current{background:url(../images/main/menu_bj.png) no-repeat; color:#fff; font-weight:bold; text-decoration:none;padding-right:14px; margin-right:0px; border-bottom:none;}
.m_left li.current em{background:url(../images/main/menu_on.png) no-repeat;}
.m_left li em.gwgl{ background-position:0px 1px}/*公文管理*/
.m_left li em.gzl{ background-position:0px -47px}/*我的工作*/
.m_left li em.grsw{ background-position:0px -96px}/*个人事务*/
.m_left li em.xzbg{ background-position:0px -144px}/*行政办公*/
.m_left li em.ywyz{ background-position:0px -199px;}/*邮文驿站*/
.m_left li em.zcztc{ background-position:0px -247px}/*政策直通车*/
.m_left li em.sqfc{ background-position:0px -293px}/**/
.m_left li em.xph{ background-position:-1px -344px}/*新品汇*/
.m_left li em.zsgl{ background-position:0 -397px}/*知识管理*/
.m_left li em.rlzy{ background-position:0 -448px}/*人力资源*/
.m_left li em.txl{ background-position:0 -495px}/*通讯录*/
.m_left li em.xtgl{ background-position:0 -606px}/*系统管理*/
.m_left li em.xtsz{ background-position:0 -550px}/*系统设置*/
.m_left li em.grsz{ background-position:0 -658px}/*个人事务*/
.m_left li em.tpdc{ background-position:0 -711px}/*投票调查*/
.m_left li em.cjgl{ background-position:0 -765px}/*抽奖管理*/
.m_left li em.rwgl{ background-position:0 -819px}/*任务管理*/

.m_right{ width:200px; height:500px; overflow:auto;margin-left:171px; padding:5px; background:#FFF;}
.m_right li{line-height:40px;}
.m_right li em{ display:inline-block; width:29px; height:25px; background:url(../images/main/two_menu.png) no-repeat; margin:0 6px 0 10px; vertical-align:middle;}
.m_right li em.swgl{ background-position:2px 2px}/*收文管理*/
.m_right li em.fwgl{ background-position:2px -38px}/*发文管理*/
.m_right li em.gwgd{ background-position:2px -79px}/*公文归档*/
.m_right li em.wdsq{ background-position:4px -117px}/*我的申请*/
.m_right li em.wdsp{ background-position:2px -158px}/*我的审批*/
.m_right li em.gzrz{ background-position:3px -199px}/*工作日志*/
.m_right li em.dxt{ background-position:3px -239px;}/*短信通*/
.m_right li em.rcgl{ background-position:2px -278px;}/*日程管理*/
.m_right li em.nbyj{ background-position:2px -316px}/*内部邮件*/
.m_right li em.swtx{ background-position:2px -358px;}/*事务提醒*/
.m_right li em.ltjl{ background-position:3px -398px;}/*聊天记录*/
.m_right li em.jsxx{ background-position:2px -438px}/*即时消息*/
.m_right li em.ggck{ background-position:0px -478px;}/*公告通知*/
.m_right li em.gggl{ background-position:0px -518px;}/**/
.m_right li em.ggsp{ background-position:0px -557px;}/**/
.m_right li em.rzgl{ background-position:4px -600px;}/*日志管理*/
.m_right li em.zlcy{ background-position:3px -637px;}/*资料查阅*/
.m_right li em.zlgl{ background-position:2px -719px}/*资料管理*/
.m_right li em.dack{ background-position:2px -756px;}/*档案查看*/
.m_right li em.dagl{ background-position:3px -677px;}/*档案管理*/
.m_right li em.dacx{ background-position:2px -797px;}/*档案查询*/
.m_right li em.dwtxl{ background-position:3px -838px;}/*单位通讯录*/
.m_right li em.wbtxl{ background-position:2px -878px;}/*外部通讯录*/
.m_right li em.qz{ background-position:-1px -920px;}/*群组*/
.m_right li em.dwtxlgl{ background-position:3px -960px;}/*单位通讯录管理*/
.m_right li em.wbtxlgl{ background-position:0px -1001px;}/*外部通讯录管理*/
.m_right li em.dlyh{ background-position:2px -1042px;}/*登录用户管理*/
.m_right li em.jsqx{ background-position:2px -1086px;}/*角色权限管理*/
.m_right li em.sjqx{ background-position:3px -1126px;}/*数据权限管理*/
.m_right li em.xtrz{ background-position:5px -1167px;}/*系统日志管理*/
.m_right li em.gzlsz{ background-position:2px -1207px;}/*工作流设置*/
.m_right li em.gwglsz{ background-position:3px -1247px;}/*公文管理设置*/
.m_right li em.ggtzsz{ background-position:3px -1290px;}/*公告通知设置*/
.m_right li em.swtxsz{ background-position:2px -1371px;}/*事务提醒设置*/
.m_right li em.sjzd{ background-position:4px -1413px;}/*数据字典设置*/
.m_right li em.grxx{ background-position:3px -1454px;}/*个人信息*/
.m_right li em.mmxg{ background-position:0px -1497px;}/*密码修改*/
.m_right li em.wjlb{ background-position:5px -1541px;}/*问卷列表*/
.m_right li em.wdkq{ background-position:4px -1586px;}/*我的考勤*/
.m_right li em.xwzx{ background-position:4px -1632px;}/*新闻中心*/
.m_right li em.clgl{ background-position:1px -1675px;}/*车辆管理*/
.m_right li em.hygl{ background-position:4px -1717px;}/*会议管理*/
.m_right li em.kqtj{ background-position:2px -1759px;}/*考勤统计*/
.m_right li em.kqsz{ background-position:2px -1807px;}/*考勤设置*/
.m_right li em.xwzxsz{ background-position:3px -1853px;}/*新闻中心设置*/
.m_right li em.xzwj{ background-position:7px -1902px;}/*新增问卷*/
.m_right li em.wjgl{ background-position:7px -1950px;}/*问卷管理*/
.m_right li em.cjlb{ background-position:5px -1998px;}/*抽奖列表*/
.m_right li em.xzrw{ background-position:4px -2044px;}/*新增任务*/
.m_right li em.wfqd{ background-position:4px -2079px;}/*我发起的*/
.m_right li em.wcbd{ background-position:4px -2114px;}/*我承办的*/
.m_right li em.wzjd{ background-position:4px -2152px;}/*我转交的*/

.m_right li .tile_a{ display:block;color:#000;padding-left:0px; font-size:15px; text-decoration:none}
.m_right li .tile_a:hover{background:#f7f7f7}
.m_right li .part{background:url(../images/main/tow_menu_jtr.png) no-repeat 166px 17px;}
.m_right li .part:hover{background:#f7f7f7 url(../images/main/tow_menu_jtr.png) no-repeat 166px 17px;}
.m_right li dl{ display:none;}
.m_right li dl dd{font-weight:normal; cursor:pointer; padding-left:40px; overflow:hidden;}
.m_right li dl dd a{color:#000;background:url(../images/main/graydot.png) no-repeat left center; padding-left:15px; display:inline-block;}
.m_right li dl dd a:hover , .m_right li dl dd a.on{ text-decoration:underline; color:#0591aa; background:url(../images/main/bluedot.png) no-repeat left center;}
.m_right li.current dl{display:block}
.m_right li.current .tile_a{background:#f7f7f7}
.s_menu{ display:none;}
.m_right li.current .part{background:#f7f7f7 url("../images/main/tow_menu_jtd.png") no-repeat scroll 166px 17px;}

#first_panel .scroll-up {background: url("../images/main/scroll_arrow.png") no-repeat scroll center 0; cursor: pointer;  height: 12px; overflow: hidden; margin-top:5px;}
#first_panel .scroll-down {background: url("../images/main/scroll_arrow.png") no-repeat center -10px;cursor: pointer; height: 10px; overflow: hidden;}
#first_panel .scroll-up:hover {background-position: center -20px}
#first_panel .scroll-down:hover {background-position: center -30px}


/*main ifame*/
.iframe_body{width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;z-index:1}
.iframeFather {overflow-x: hidden;
	position:absolute;
	_position:relative;
	top:122px;
	_top: 0;
	left:0;
	bottom:30px;
	right:0;
	_overflow-x: hidden;
	overflow-y: auto;
	z-index:4;
	}
.iframeBox {position:absolute;
	_position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom:0px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index:6;
}
.iframeBox iframe,.iframeContent {position: absolute; _position:relative;_overflow:hidden;}
.iframeBox iframe,.iframeContent {
	width: 100%;
	height: 100%;
	background-color: #fff;
	_height: expression(document.body.offsetHeight -170 + 'px');
	z-index:5;
	_overflow-x: hidden;
	_overflow-y: auto;

}
.iframeFather_cls{top:67px;_top:-10px;}
.iframeFather_cls iframe{_height: expression(document.body.offsetHeight - 95 + 'px');}

/*左侧菜单*/
/* .mainpage{ padding-left:200px; position:relative; z-index:0;  height:100%;}
.mainpage .leftMenu{ width:200px; position:absolute; top:0px; left:0px; z-index:88} */

.mainpage{ padding-right:205px; position:relative; z-index:0;  height:100%;}
.mainpage .leftMenu{ width:200px; position:absolute; top:0px; right:5px; z-index:88}

/*bottom*/
.bottom{width: 100%; text-align: center;height:30px;line-height:30px; overflow:hidden; color:#fff; background: #0591aa; position: absolute; bottom: 0; left: 0;}
.bottom i{ color:#fff; margin:0 3px;}
.exBot{ padding-top:0px; padding-right:5px;}
.exBot em{ display:inline-block; width:22px; height:20px; display:inline-block; vertical-align:middle; background:url(../images/main/affairs.png) no-repeat; line-height:20px; cursor:pointer; margin-right:10px;}
.exBot em.icon_work{background-position:0 -81px;}
.exBot em.messageBox{background-position:0 -40px;}
.exBot em.icon_group{ background-position:0px 0;}
.exBot em.icon_work_on{ background:url(../images/main/swtx.gif) no-repeat;}
.exBot em.messageBox_on{ background:url(../images/main/jsxx.gif) no-repeat;}


/*OA换肤*/
.oa_hf{ width:359px; overflow:hidden; position:absolute; right:5px; z-index:10000; top:79px; display:none;}
.oa_hf .top_oh{ background:url(../images/main/top_hf.png) no-repeat; width:365px; height:13px; overflow:hidden; float:left;}
.oa_hf .cent_oh{ background:url(../images/main/cent_hf.png); width:337px; float:left;  padding:0 13px 0 9px;}
.oa_hf .cent_oh h3{ background:url(../images/main/fg_bj.png) repeat-x left bottom; height:40px; line-height:40px; text-align:center; color:#000; font-size:14px; font-weight:100; float:left; width:100%;}
.oa_hf .cent_oh ul{ width:100%; float:left;}
.oa_hf .cent_oh ul li{ padding-left:15px; width:150px; height:104px; float:left; padding-top:20px;}
.oa_hf .cent_oh ul li img{ width:150px; height:104px; cursor:pointer;}
.oa_hf .cent_oh .close_hf{ height:50px; background:url(../images/main/fg_bj.png) repeat-x left top;float:left; width:100%; margin-top:20px;}
.oa_hf .cent_oh .close_hf em{ float:right; background:url(../images/main/close_hf.png) no-repeat; width:68px; height:27px; cursor:pointer; margin-top:13px; margin-right:10px;}
.oa_hf .down_oh{ background:url(../images/main/down_hf.png) no-repeat; width:365px; height:6px; overflow:hidden;}
/*iframe*/
.iframeresize{width:100%;}

/*事务提醒-系统右下角*/
.work_pop{ position:absolute; background:url(../images/main/msgPop.png) no-repeat; width:259px; height:137px; overflow:hidden; z-index:1001; right:10px; bottom:30px; color:#333; display:none;}
.work_pop h2{ height:28px; line-height:28px; text-indent:40px; margin-top:6px;}
.work_pop h2 .close{cursor: pointer;float: right;height: 20px;margin-right: 6px; margin-top: 1px;  width: 20px;}
.work_pop p.msg{ padding:16px 20px;}
.work_pop p.more{height: 34px;line-height: 32px;margin-top: 7px;text-align: right; padding:0 10px;}

/*事务提醒-弹窗*/
.work_details{ padding:10px;}
.work_details h2{ height:30px; line-height:30px;}
.work_details h2 span{ color:#888;}
.work_details h2 a{ float:right; line-height:30px;}
.work_details dl dt{ height:27px; line-height:27px; color:#333; padding-left:10px; padding-right:25px; background:#ecf5f7 url(../images/main/work_icon.png) no-repeat right center;}
.work_details dl dd{ border-bottom:1px solid #e8eaeb; color:#555555; padding:8px 20px;}
.work_details dl dd p{ line-height:25px;}
.work_details dl dd p .day{ float:right; line-height:25px; color:#ff6600;}

/*没有数据*/
.no_data{background: url("../images/main/no_data.png") no-repeat;height: 70px;margin: 130px auto 0;padding-left: 80px; width: 170px;}
.no_data dt{font-size:20px; line-height:30px; color:#555555; padding-top:5px;}
.no_data dd{ color:#adadad; line-height:25px;}
.no_data dd .time{ color:#F00; padding:0 5px;}

/*组织-系统右下角*/
.organi_box{bottom: 29px;overflow: hidden;position: absolute;right: 2px;width: 261px;z-index: 1001; display:none;}
.organi_box .tab {background: url(../images/orangz_topbg.png);height: 44px;line-height: 44px;color:#fff}
.organi_box .tab_cur{background: url(../images/orangz_topbg_2.png);height: 44px;line-height: 44px;}
.organi_box .tab ul {margin: 3px 5px;font-size: 18px;}
.organi_box .tab li {width: 125px;float: left;text-align: center;cursor: pointer;}
.organi_box .tab li.one {color: #0591aa;}
.organi_box .tab li.two{color:#fff;}
.organi_box .tab_cur li.two{color: #0591aa;}
.organi_box .tab_cur li.one{color:#fff;}
.organi_box .organi_middle {background: url(../images/orangz_middlebg.png) repeat-y;padding: 12px;}
.organi_box .organi_footer {background: url(../images/orangz_footbg.png);height: 28px;}
.organi_box .organi_middle_box {background: #fff;padding: 10px;}
.organi_box .organi_middle_box .tabContent { display:none}



