@charset "utf-8";
/* CSS Document */
/*首页*/
.desktop{ padding:8px;}
.desktop .pretty{ border-top:none;}

.desktop .title_desktop{height:36px; line-height:36px; text-indent:10px; font-size:16px; color:#1596ad; background:#f0f0f0; border:#ececec 1px solid; }
.desktop .title_desktop .more{ float:right;}
.title_desktop .more a {color: #1596ad; margin-right: 10px; font-size:14px; }
.desktop .cont_desktop{border-top:1px solid #ececec; overflow:hidden; background:#FFF; border:1px solid #f0f0f0; border-top:none;}
.cont_desktop li{ height:45px; line-height:45px; padding:0 15px; color:#333; position:relative; text-overflow:ellipsis;}
.cont_desktop li.gray{ background:#fbfbfb}
.cont_desktop li a{color:#369;}
.cont_desktop li a:hover{color:#369;}
.cont_desktop li span{ position:absolute; right:10px; height:40px; line-height:40px;  top:0;}
.cont_desktop li .time{ color:#999999;}
.cont_desktop li .price{ text-align:right;}
html {padding:0px;margin:0px; overflow:hidden;}
body{width: 100%;  margin: 0; padding: 0; overflow: hidden;z-index:1}
.mainBody{ position:relative; z-index:1; padding-left:182px;overflow:hidden}
#menu {position:absolute;top:0px;width:175px;left:0px;height:auto;background:#e5ecf2; display:block; overflow:auto; overflow-x:hidden;}
#s_center {width: 5px; height: 500px;  position: absolute; top: 0px; left: 175px;border-left: 1px solid #e5ecf2; border-right: 1px solid #bfc7ca;background: url(../images/middle_bg.gif) #e5ecf2 no-repeat -6px center; cursor:pointer}
.cls{background-position: -18px center;}
.mainleftClose{padding-left:7px;}
.mainleftClose #menu{ display:none;}
.mainleftClose #s_center{ left:0px;}
.mainFrame{ width:100%;}
/*s_menu*/
.s_menu{height:auto; padding-top:5px;}
.s_menu ul{ margin:0px auto; width:155px;}
.s_menu ul.l_f_menu li p{ width:152px; height:29px;_height:21px; _padding-top:8px; line-height:28px; background:url(../images/mainbg.png) 0px -34px; cursor:pointer; margin:5px auto 0 auto;}
.s_menu ul.l_f_menu  em{ width:10px; height:9px; display:inline-block; vertical-align:middle; margin-left:8px; margin-right:5px; background-image:url(../images/mainbg.png); background-repeat:no-repeat;_margin-top:1px; overflow:hidden;}
.s_menu ul.l_f_menu  em{ background-position: 0px -94px;}
.s_menu ul.l_f_menu  em.dot02{ background-position: -1px -106px;}
.s_menu ul.l_f_menu li{ height:35px; overflow:hidden}
.s_menu ul.l_f_menu li.current{ height:auto; overflow:visible}
.s_menu ul.l_f_menu li.current em{background-position: -1px -106px;}
.s_menu dl{margin-left:10px;}
.s_menu dl dt{cursor:pointer}
.s_menu dl.sele{height:30px;overflow:Hidden;}
.s_menu dd{ margin-left:15px;padding-left:20px;background:url(../images/lidot.png) no-repeat 12px 7px;}
.s_menu dt {width:100px;height:24px;line-height:24px;clear: both;padding-left: 20px;margin: 5px;color: #2366a6;background:url(../images/admin_bg.png) 0px -30px no-repeat;}
.s_menu dd {width: 120px;height: 18px;line-height: 18px;clear: both;margin: 5px;color: #444444;}

/*bottom*/
.bottom{width: 100%; text-align: center;height:30px;line-height:30px; overflow:hidden; color:#fff; background: #0591aa; position: absolute; bottom: 0; left: 0;}
.bottom span{ color:#fff; margin:0 3px;}
.bottom em{ padding-left:20px;}
.paswxfont a{ color:#fff;font-weight:normal;}

/*左侧消息*/
.left_news{ position:absolute; width:219px; background:#FFF; border-right:1px solid #dddee0; height:100%; left:0; top:0;}
.left_news .title_ln{ float:left; width:100%; background:url(../images/main/left_phong.png) no-repeat #efefef; font-size:16px; text-indent:47px; height:36px;  line-height:36px; border-bottom:1px solid #dddee0;}
.left_news .title_ln.zm{ background-position:13px 6px; color:#f87f27; }
.left_news .title_ln.ing{ background-position:13px -50px; color:#008000;}
.left_news .title_ln.kx{ background-position:13px -106px; color:#555555;}
.left_news .title_ln.zth{ background-position:13px -171px; color:#008000;}
.left_news .cont_ln{float:left; width:100%; overflow:hidden;}
.left_news .cont_ln font{ color:#0088a0;}
.left_news .cont_ln li{ height:40px; line-height:40px; font-size:14px; color:#333333; border-bottom:1px solid #ebebeb; padding:0 10px;}
.left_news .cont_ln li label{ float:left; width:67px; border-right:1px solid #ebebeb; margin-right:10px;}
.left_news .cont_bln{ margin-top:10px;border-top:1px solid #ebebeb;}