@charset "utf-8";
/* CSS Document */
.CallHead{ height:99px; background:url(../images/head/c_headbg.png) repeat-x; position:relative; z-index:8}
.CallHead .c_top{ height:21px; line-height:21px; position:relative;width:100%}
.CallHead .c_top .c_logo{ margin-left:5px;  font-size:12px; font-weight:bold; color:#fff; float:left;padding-top:2px; overflow:hidden;}
.CallHead .c_top .c_titile{ margin-left:5px;  font-size:12px; font-weight:bold; color:#fff; padding-top:2px; overflow:hidden; float:right; margin-right:110px;}
.CallHead .c_top .c_menu{ width:60%;right:125px; text-align:right;color:#ffc000; position:absolute; top:0px;}
.CallHead .c_top .c_menu ul{ float:right;}
.CallHead .c_top .c_menu li{ height:22px;}
.CallHead .c_top .c_menu li a{ padding:0 5px; text-align:center; color:#fff; display:block; height:22px; margin-top:1px; line-height:20px;}
.CallHead .c_top .c_menu li{float:left; padding:0 3px;position:relative; _width:60px;}
.CallHead .c_top .c_menu li.current a{text-decoration:none; background:#166bae; border:1px solid #a0a09e; height:18px; line-height:18px; padding:0 4px;}
.CallHead .c_top .c_menu li.current .c_menu_s{ display:block;}
.CallHead .c_top .c_menu li.current .c_menu_s p a{ border:none; background:none;}
.c_menu_s{ background:#f0f0f0; border:1px solid #a0a09e; width:135px; position:absolute; top:22px; left:3px; z-index:999; display:none}
.c_menu_s p{ line-height:21px; margin:2px; height:21px; overflow:hidden;}
.CallHead .c_top .c_menu li .c_menu_s p a{ color:#000; display:block;padding:0 20px; line-height:21px;}
.c_menu_s p a:visited{ color:#000}
.CallHead .c_top .c_menu li .c_menu_s p a:Hover{ background:#3399fe; color:#fff;}

.CallHead .c_top .winClose{ width:85px; height:21px; overflow:hidden; position:absolute; top:0px; right:0px;}
/*.CallHead .c_top .winClose a{ display:block; height:19px;background:url(../images/head/btnClose.png) no-repeat; float:left;}
.CallHead .c_top .winClose a.sm{ background-position:0px -19px; width:38px;}
.CallHead .c_top .winClose a.sm:hover{background-position:0px 0px;}
.CallHead .c_top .winClose a.big{ background-position:-38px -19px; width:33px;}
.CallHead .c_top .winClose a.big:hover{background-position:-38px 0px;}
.CallHead .c_top .winClose a.cls{ background-position:-71px -19px; width:46px;}
.CallHead .c_top .winClose a.cls:Hover{ background-position:-71px 0px;}*/
.CallHead .c_top .winClose span{ display:block; height:19px;background:url(../images/head/btnClose.png) no-repeat; float:left; cursor:pointer;}
.CallHead .c_top .winClose span.sm{ background-position:0px -19px; width:38px;}
.CallHead .c_top .winClose span.sm:hover{background-position:0px 0px;}
.CallHead .c_top .winClose span.big{ background-position:-38px -19px; width:33px;}
.CallHead .c_top .winClose span.big:hover{background-position:-38px 0px;}
.CallHead .c_top .winClose span.cls{ background-position:-71px -19px; width:46px;}
.CallHead .c_top .winClose span.cls:Hover{ background-position:-71px 0px;}

.CallHead .iconArea{ height:80px; overflow:hidden; width:100%; *padding-top:2px;_padding-top:0px;}
.CallHead .iconArea ul{ float:left; height:65px;  background:url(../images/head/head_line.png) no-repeat right 3px; padding:3px 15px 0px 5px;}
.CallHead .iconArea ul li{ width:75px; height:72px; padding:0 5px; float:left; cursor:pointer}
/*.CallHead .iconArea ul li a{ display:block; width:60px; height:62px;}*/
.CallHead .iconArea ul li:hover{ background:url(../images/head/head_icon_bg.png) no-repeat center bottom; text-decoration:none;}
.CallHead .iconArea ul li.current {background:url(../images/head/head_icon_bg.png) no-repeat center bottom; text-decoration:none;}
.CallHead .iconArea ul li em{ display:block; background:url(../images/head/head_icon.png) no-repeat; _background:url(../images/head/head_icon_grayie6.png) no-repeat; height:50px;}
.CallHead .iconArea ul li.disabled em{background:url(../images/head/head_icon_gray.png) no-repeat;_background:url(../images/head/head_icon_grayie6.png) no-repeat;}
.CallHead .iconArea ul li em.icon_01{ background-position:center 0px;}
.CallHead .iconArea ul li em.icon_02{ background-position:center -51px;}
.CallHead .iconArea ul li em.icon_03{ background-position:center -103px;}
.CallHead .iconArea ul li em.icon_04{ background-position:center -154px;}
.CallHead .iconArea ul li em.icon_04_02{ background-position:center -838px;}
.CallHead .iconArea ul li em.icon_05{ background-position:center -205px;}
.CallHead .iconArea ul li em.icon_05_02{ background-position:center -785px;}
.CallHead .iconArea ul li em.icon_06{ background-position:center -259px;}
.CallHead .iconArea ul li em.icon_07{ background-position:center -308px;}
.CallHead .iconArea ul li em.icon_08{ background-position:center -966px;}
.CallHead .iconArea ul li em.icon_09{ background-position:center -411px;}
.CallHead .iconArea ul li em.icon_10{ background-position:center -462px;}
.CallHead .iconArea ul li em.icon_11{ background-position:center -463px;}
.CallHead .iconArea ul li em.icon_12{ background-position:center -897px;}
.CallHead .iconArea ul li em.icon_13{ background-position:center -616px;}
.CallHead .iconArea ul li em.icon_14{ background-position:center -668px;}
.CallHead .iconArea ul li em.icon_15{ background-position:center -725px;}
.CallHead .iconArea ul li em.icon_16{background-position:center -1100px;}
.CallHead .iconArea ul li em.icon_17{background-position:center -968px;}
.CallHead .iconArea ul li em.icon_18{background-position:center -1040px;}
.CallHead .iconArea ul li em.icon_19{background:url(../images/head/qc.png) no-repeat center 10px;}
.CallHead .iconArea ul li em.icon_20{background:url(../images/head/qiangcai.png) no-repeat center 10px;}
.CallHead .iconArea ul li em.icon_21{background:url(../images/head/lj.png) no-repeat center 10px;}
.CallHead .iconArea ul li em.icon_22{background:url(../images/head/jt.png) no-repeat center 10px;_ackground:url(../images/head/jtie6.png) no-repeat center 10px;}
.CallHead .iconArea ul li em.icon_23{background:url(../images/head/jrht.png) no-repeat center 3px;}
.CallHead .iconArea ul li em.icon_24{background-position:center -1148px;}
.CallHead .iconArea ul li.disabled em.icon_19{background:url(../images/head/qc_no.png) no-repeat center 10px;}
.CallHead .iconArea ul li em.icon_25{background-position:center -1200px;}
.CallHead .iconArea ul li em.icon_26{background-position:center -1252px;}
.CallHead .iconArea ul li em.icon_27{background-position:center -1305px;}
.CallHead .iconArea ul li em.icon_28{background-position:center -1355px;}
.CallHead .iconArea ul li em.icon_29{background-position:center -1406px;}
.CallHead .iconArea ul li em.icon_30{background-position:center -1463px;}
.CallHead .iconArea ul li.disabled em.icon_20{background:url(../images/head/qiangcai_no.png) no-repeat center 10px;}
.CallHead .iconArea ul li.disabled em.icon_21{background:url(../images/head/lj_no.png) no-repeat center 10px;}
.CallHead .iconArea ul li.disabled em.icon_22{background:url(../images/head/jt_no.png) no-repeat center 10px;}
.CallHead .iconArea ul li.disabled em.icon_23{background:url(../images/head/jrht.png) no-repeat center 3px;}
.CallHead .iconArea ul li.disabled em.icon_04_02{ background:url(../images/head/head_icon_gray.png) center -675px;}
.CallHead .iconArea ul li.disabled em.icon_24{background-position:center -712px;}
.CallHead .iconArea ul li p{ text-align:center; line-height:19px; color:#fff;}
.CallHead .iconArea ul li.disabled p{color:#999;}
.userInfo{ height:29px; line-height:29px; padding-left:10px; color:#000; background:url(../images/head/userInfoBg.png) repeat-x; border-bottom:1px solid #ced3d7;}
.userInfo span{ padding:0 10px;}

/*operation*/
.operation{ float:right; height:61px; overflow:hidden;}
.operation span{float:left; width:65px; height:25px; line-height:25px; margin-top:19px;}
.operation span a{color:#FFF;}
.operation span.xg{ background:url(../images/head/main_icons_m.png) no-repeat 0 -38px; padding-left:18px;}
.operation span.tc{background:url(../images/head/main_icons.png) no-repeat 0 -129px; padding-left:30px; width:40px;}
