@charset "utf-8";
/*新加的样式*/
.xz_peo{background: none repeat scroll 0 0 #F0F9FC; margin: 0 auto;padding:10px; width: 440px;}
.xz_peo .ipts{border-color: #86ACC3 #AEC8D7 #BBD1DF #A4C1D1; border-style: solid; border-width: 1px;color: #CFCFCF;font-size: 12px;height: 22px;line-height: 22px;padding: 0 8px; width: 420px;}
.xz_peo .title_peo{ height:23px; background:url(../images/admin_x_bg.gif) repeat-x scroll 0 -127px transparent; margin-top:5px;}
.xz_peo .title_peo ul{ padding-left:8px;}
.xz_peo .title_peo ul li{float:left; height:23px;  width:80px; font-weight:bold; line-height:23px; text-align:center;}
.xz_peo .title_peo ul .on{background:url(../images/admin_button.png);}
.xz_peo .cont_peo{ padding:5px; height:315px; overflow:auto; background:#FFF;}

/*权限*/
.accessOk{ position:absolute; right:5px; top:5px;}
.access{ width:auto;}
.access td{ width:auto; white-space: nowrap;}
.access .BlockTop .center{ text-align:left; font-weight:bold;}
.accessList li{ line-height:30px; white-space: nowrap;}
.accessList li input{ vertical-align:middle; margin-right:3px; margin-top:0px;}
.accessList h2{background:#e9f2f7; padding-left:10px;border-bottom:1px solid #a9c4d7;}
.accessList li ul{ padding-left:15px;}
.accessList li ul li{ padding:0 5px;}
.accessOk{ position:absolute; right:5px; top:5px;}
.treeSearch{ line-height:40px; padding:3px 5px 0px 5px;}
.treeSearch input{ background:url(../images/public/iconSearch.png) #fff no-repeat right center; vertical-align:middle; }
.listbox{ border:1px solid #a9c4d7; background:#fff; margin-bottom:10px; -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius:5px; padding-bottom:5px;}
.listbox h2{ height:33px; line-height:33px; background:#e9f2f7; padding-left:10px;border-bottom:1px solid #a9c4d7; font-weight:bold; color:#000; cursor:pointer; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;border-radius:5px 5px 0 0;}
.listbox h2 em{ display:inline-block; width:10px; height:10px; background:url(../images/public/icon_op.png) no-repeat center center; margin-right:5px; vertical-align:middle;}
.listbox h2 em.cls{background:url(../images/public/icon_cls.png) no-repeat center center;}
.listbox h2 input{ font-weight:normal}
.listbox ul.wlist{ margin:10px;}
.listbox ul.wlist li{ line-height:24px; background:url(../images/public/dot.png) no-repeat left 9px; color:#666; padding-left:10px;}
.listbox ul.wlist li span{ margin-left:20px;}


.update_btn {background: url("../images/public/s_add.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0); border: medium none; color: #0647A8;cursor: pointer;  padding-left: 21px; width:60px;}

/*left & right*/
.mainPage{ position: relative; padding-right: 210px; min-height: 480px; margin-top:5px;}
.rightList{width: 200px; position: absolute; top:0; right:0; _right: 10px; z-index: 1; background:#FFF;}
.blockBox{border: 1px solid #ccc; height: 360px; overflow:hidden;}
.blockBox p.title{height: 29px; line-height: 30px; border-bottom: 1px solid #E0E3EC;}
.blockBox p.title a{display: inline-block; width: 66px; height: 29px; text-align: center; border-right: 1px solid #E0E3EC; background: url(../images/public/rightTBg.png) repeat-x;}
.blockBox p.title a.cur{background: url(../images/public/rightTBg_cur.png) repeat-x;}
.blockBox .cont_block{overflow-y:auto;overflow-x:auto; height:330px;}
.modelBox{height: 330px; overflow-y:auto; overflow-x:hidden;}
.modelBox li{width:inherit;height: 36px; line-height: 36px; padding-left: 40px; border-bottom: 1px solid #ececec; color: #333; cursor: pointer; background: url(../images/public/icon_modle.png) no-repeat 17px 11px;word-break:keep-all;/* 不换行 */	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。IE, Safari (WebKit)*/
}
.modelBox li.current{color: #369; background-color:#EBEBEB; text-decoration: none;}
/*来电弹屏*/
table.input_title{width:100%;width:100%; border:1px solid #e1e1e1;}
table.input_title th{line-height: 25px;padding: 10px;font-weight: normal;color: #4d6371;background:#eaf0f4;white-space: nowrap;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; vertical-align:top; font-size:16px;border-right:none;color:#555;text-align:left;}
table.input_title th .txt_orange{font-size:20px;}
.tab_h4{font-size:16px;color:#000;}
.tab_h4 a:link,.tab_h4 a:visited{color:#06c;}
.tab_tablebox{border:1px solid #e1e1e1;overflow:hidden;margin-bottom:10px;}
.tab_table{width:100%;background:#fafafa;overflow:hidden;overflow:hidden;font-size:16px;color:#555;}
.tab_table td{padding:3px 10px;vertical-align:top;}
.tab_table .topline td{padding-top:10px;}
.tab_table .botline td{padding-bottom:10px;}
